@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --width: 75vw;
  --height: 25rem;
}

html,
body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.p5Canvas {
  display: block;
  border-radius: 2rem;
  box-shadow: 0 0 10px black;
}

/* #classSelector {
  font-family: Poppins;
} */

.select-class {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #c3c3c3;
  width: var(--width);
  height: var(--height);
  box-shadow: 0 0 10px black;
}

.buttons button {
  width: calc((var(--width)) / 3 - 10rem);
  height: 2.5rem;
  background-color: #0e53a2;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color, width 75ms ease-in-out;
  box-shadow: 0 0 20px -2px black;
}
.buttons button:hover {
  cursor: pointer;
  background-color: purple;
  width: 20vw;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: var(--width);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: var(--width);
  height: 15rem;
}

#numSelector,
#classSelector {
  display: block;
  text-align: center;
  font-family: Poppins;
  font-size: 16pt;
  width: calc(var(--width) - 10rem);
}

.label-header {
  font-family: Poppins;
  font-size: 48pt;
  margin: 0;
  padding: 0;
}
.desc {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  font-size: 12pt;
}
